<!DOCTYPE html>
<html>
  <head>
    <div class = "center jumbotron">
      <h1><%= t ".welcome"%></h1>
      <h2>
        <%= t ".homepage" %>
        <%= link_to t(".ruby"), Settings.linkrail %>
        <%= t ".sample" %>
      </h2>
      <%= link_to t(".signupnow"), signup_path, class: "btn btn-lg btn-primary" %>
    </div>
    <%= image_tag("kitten.jpg", alt: "Kitten") %>
    <%= link_to image_tag("rails.png", alt: t(".railslogo")), Settings.linkruby %>
  </head>
  <body>
  </body>
</html>
