<footer class = "footer">
  <small>
    <%= t ".the" %> <%= link_to t(".tutorial"), Settings.linkrail %>
    <%= t ".by" %> <%= link_to t(".mh"), Settings.linkmh %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".about"), about_path %></li>
      <li><%= link_to t(".contact"), contact_path %></li>
      <li><%= link_to t(".new"), Settings.linkrail%></li>
    </ul>
  </nav>
</footer>
